body{
    margin: 0;
    padding: 0;
}
#home{
    padding: 0 0git add ;
}
nav{
    display: flex;
    width: 100%;
    background-color: rgba(32, 43, 43, 0.119);
    height: 60px;
    justify-content: space-evenly;
    background: rgb(148,144,144);
    background: linear-gradient(180deg, rgba(148,144,144,1) 50%, rgba(0,0,0,0) 100%);
    position: fixed;
}
#logo{
    align-self: center;
    align-items: center;
    width: 500px;
}
#logo img{
    width: 200px;
    padding-left: 50px;
}
nav ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul > li{
    list-style: none;
    margin: 0px 20px;
    font-size: 15px;
    color: rgb(60, 60, 60);
}
/*header img{
    width: 100%;
    object-fit: cover;
/*    position: absolute;
    z-index: -1;
}*/
#bg-leaf{
    position: absolute;
    flex-grow: 1;
    z-index: -1;
    transform: scale(0.2);
    margin-bottom: -250px;
}
.welcome{
    height: 700px;
    color: #000;
    background-color: #b6846b5e;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.first-welcome{
    text-align: center;
}
.welcome h1{
    font-size: 1.75rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin-top: 2rem;
    height: 200px;
}
.welcome h2{
    font-size: 1.5rem;
    color: #3b3b3be3;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 5px 3px rgb(137, 137, 137);
}
.welcome h3{
    font-size: 7rem;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    justify-self: flex-end;
}
.welcome h1 span{
    font-size: 10rem;
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    height: 200px;
    text-shadow: 8px 3px 2px rgb(94, 93, 93);

}
#aboutMe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 800px;
    padding: 50px;
    width: 100%;
}
.about-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6846b5e;
    width: 30rem;
    height: 600px;
    box-shadow: 5px 5px 5px 5px rgba(158, 147, 147, 0.458);
    margin: 30px;
    border-radius: 20px;
}
.about-photo img{
    width: 18rem;
    border-radius: 10px;
}
.about-text{
    text-align: justify;
    align-self: center;
    padding: 50px;
    background-color: #b6846b5e;
    width: 100%;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(158, 147, 147, 0.458);
    margin: 30px;
    border-radius: 20px;
}
.about-text h1{
    font-size: 60px;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.about-text p{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}
#work{
    height: 1800px;
    background-image: url(Resources/bg\ glasses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
    color: rgb(0, 0, 0);
    width: 100%;
}
#work h2{
    height: 50px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px;
    word-spacing: 30px;
}
.tools-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1600px;
}
.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(159, 158, 158, 0.804);
    box-shadow: 5px 5px 5px rgba(158, 147, 147, 0.458);
    margin: 30px;
    border-radius: 20px;
    height: 450px;
}
.tools img{
    width: 5rem;
}
.col-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.col-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 1100px;
    padding: 20px 80px;
    background-color: rgba(159, 158, 158, 0.804);
    box-shadow: 5px 5px 5px rgba(158, 147, 147, 0.458);
    margin: 30px;
    border-radius: 20px;
}
.projects h3{
    justify-self: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 30px;
}
.html, .css, .javascript{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 45rem;
}
.row > div{
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.row a{
    font-size: 13px;
}
.card-group{
    gap: 20px;
}
.gradient{
    position: absolute;
    top: 5000;
    background: rgb(37,34,29);
    background: linear-gradient(180deg, rgba(37,34,29,1) 0%, rgba(221,204,192,1) 100%);
    height: 50px;
    width: 100%;
}
#contact{
    height: 300px;
    background-color: #DDCCC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#contact h3{
    margin-top: 50px;
    align-content: center;
    font-size: 30px;
    z-index: +1;
}
.social ul{
    display: flex;
    gap: 7rem;
    justify-content: space-around;
    padding: 0;
}
.social li{
    list-style: none;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.social a{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.social i{
    width: 5rem; 
}
/*For Mobile Devices – 320px — 480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
TV and Extra Large Screens – 1201px and more.*/
@media only screen and (max-width: 480px){
    nav{
        flex-direction: column;
        align-items: center;
        height: 100px;
        max-width: 576px;
    }
    nav ul{
        align-items: center;
    }
    nav ul > li{
        margin: 0 0.8rem;
    }
    a{
        color: #000;
        font-size: 0.9rem;
    }
    #logo{
        align-self: center;
        align-items: center;
        width: 10rem;
    }
    #logo img{
        width: 9rem;
        margin: 0.5rem;
        padding: 0;
    }
    .welcome{
        justify-content: space-evenly;
        height: 500px;
        padding: 30px;        
    }
    .first-welcome{
        text-align: center;
    }
    .welcome h1{
        font-size: 0.7rem;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        margin-top: 2rem;
        height: 70px;
    }
    .welcome h2{
        font-size: 0.8rem;
        color: #3b3b3be3;
        font-family: "Rye", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 3px 5px 3px rgb(137, 137, 137);
    }
    .welcome h3{
        font-size: 2.5rem;
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;
        justify-self: flex-end;
    }
    .welcome h1 span{
        font-size: 4rem;
        font-family: "Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
        height: 200px;
        text-shadow: 8px 3px 2px rgb(94, 93, 93);
    }
    #aboutMe{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 810px;
        padding: 10px;
    }
    .about-photo{
        align-self: center;
        width: 18.5rem;
        height: 29rem;
        margin: 20px;
    }
    .about-photo img{
        width: 14rem;
        border-radius: 10px;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 18.5rem;
        height: 250px;
        margin: 20px;
        padding: 20px;
    }
    .about-text h1{
        font-size: 20px;
        font-family: "Marck Script", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .about-text p{
        font-size: 13px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    #work{
        height: 1570px;
        padding: 10px 8px;
    }
    #work h2{
        font-size: 1.2rem;
        word-spacing: 30px;
        margin-bottom: 0;
    }
    .tools-projects{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1540px;
    }
    .tools{
        padding: 10px;
        margin: 10px;
        height: 230px;
    }
    .tools > h2{
        height: 30px !important;
    }
    .tools img{
        width: 50px;
    }
    .col-left{
        justify-content: space-around;
    }
    .col-right{
        justify-content: space-between;
    }
    .projects{
        justify-content: space-between;
        height: 1250px;
        padding: 10px;
        margin: 10px;
    }
    .projects h3{
        text-align: center;
        font-size: 1rem;
    }
    .html, .css, .javascript{
        align-content: center;
        justify-items: center;
        gap: 20px;
        width: 12rem;
    }
    .row > div{
        height: 5rem !important;
    }
    .row h5{
        font-size: 11px !important;
    }
    .row a{
        font-size: 8px !important;
    }
    .card-group{
        justify-content: center;
        width: 12rem;
    }
    .gradient{
        height: 30px;
    }
    #contact{
        height: 350px;
        justify-content: space-between;
    }
    #contact h3{
        margin-top: 25px;
        font-size: 22px;
    }
    .social ul{
        flex-direction: column;
        gap: 0.5rem;
    }
    .social li{
        width: 7rem;
        display: flex;
        height: 50px;
    }
    .social a{
        font-size: 0.7rem;
    }
    .info{
        margin-bottom: 3rem;
    }
    .info > a{
        font-size: 0.5rem !important;
    }
}

@media only screen and ( min-width: 481px) and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: center;
        height: 150px;
        width: 100%;
    }
    nav ul{

        align-items: center;
    }
    nav ul > li{
        margin: 0 1.2rem;
    }
    a{
        color: #000;
        font-size: 1.2rem;
    }
    #logo{
        align-self: center;
        align-items: center;
        width: 10rem;
    }
    #logo img{
        width: 10rem;
        margin-top: 1.5rem;
        padding: 0;
    }
    .welcome{
        height: 600px;
        padding: 60px;        
    }
    .welcome h1{
        font-size: 1.8rem;
        height: 120px;
    }
    .welcome h2{
        font-size: 1.5rem;
    }
    .welcome h3{
        font-size: 3.8rem;
    }
    .welcome h1 span{
        font-size: 7rem;
    }
    #aboutMe{
        display: flex;

        justify-content: space-around;
        align-content: center;
        height: 500px;
        padding: 10px;
    }
    .about-photo{
        align-self: center;
        width: 12rem;
        height: 20rem;
        margin: 23px;
    }
    .about-photo img{
        width: 10rem;
        border-radius: 10px;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25rem;
        height: 17rem;
        margin: 25px;
        padding: 30px;
    }
    .about-text h1{
        font-size: 2rem;
        font-family: "Marck Script", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .about-text p{
        font-size: 1rem;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    #work{
        height: 1500px;
        padding: 15px 40px;
    }
    #work h2{
        font-size: 1.8rem;
        word-spacing: 30px;
        height: 5rem;
        margin-bottom: 0;
    }
    .tools-projects{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1480px;
    }
    .tools{
        padding: 25px;
        margin: 10px;
        height: 350px;
    }
    .tools > h2{
        height: 4rem !important;
    }
    .tools img{
        width: 70px;
    }
    .col-left{
        justify-content: space-around;
    }
    .col-right{
        justify-content: space-around;
    }
    .projects{
        justify-content: space-evenly;
        height: 950px;
        padding: 25px;
        margin: 10px;
    }
    .projects h3{
        text-align: center;
        font-size: 1.5rem;
    }
    .html, .css, .javascript{
        align-content: center;
        justify-items: center;
        gap: 20px;
        width: 15rem;
    }
    .row > div{
        height: 6rem !important;
    }
    .row h5{
        font-size: 15px !important;
    }
    .row a{
        font-size: 10px !important;
    }
    .card-group{
        justify-content: center;
        width: 32rem;
    }
    .gradient{
        height: 50px;
    }
    #contact{
        height: 350px;
        justify-content: space-around;
    }
    #contact h3{
        margin-top: 20px;
        font-size: 30px;
    }
    .social ul{
        gap: 5rem;
    }
    .social li{
        width: 8rem;
        display: flex;
        height: 100px;
    }
    .social a{
        font-size: 1rem;
    }
    .info{
        margin-bottom: 1.5rem;
    }
    .info > a{
        font-size: 1rem !important;
    }
}
@media only screen and ( min-width: 769px) and (max-width: 1024px){
    nav{
        align-items: center;
        height: 80px;
        width: 100%;
    }
    ul{
        align-items: center;
    }
    a{
        color: #000;
        font-size: 1.2rem;
    }
    #logo{
        align-self: center;
        align-items: center;
        width: 12rem;
    }
    #logo img{
        width: 12rem;
        padding: 0;
    }
    .welcome{
        height: 600px;
        padding: 50px;        
    }
    .welcome h1{
        font-size: 2.5rem;
        margin-top: 2rem;
        height: 120px;
    }
    .welcome h2{
        font-size: 1.7rem;
    }
    .welcome h3{
        font-size: 5rem;
    }
    .welcome h1 span{
        font-size: 8rem;
        height: 200px;    
    }
    #aboutMe{
        display: flex;
        justify-content: space-around;
        align-content: center;
        height: 600px;
        padding: 10px;
    }
    .about-photo{
        align-self: center;
        width: 15rem;
        height: 25rem;
        margin: 23px;
    }
    .about-photo img{
        width: 12rem;
        border-radius: 10px;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 34rem;
        height: 16rem;
        margin: 25px;
        padding: 30px;
    }
    .about-text h1{
        font-size: 2.7rem;
        font-family: "Marck Script", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .about-text p{
        font-size: 1.2rem;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    #work{
        height: 1450px;
        padding: 20px 50px;
    }
    #work h2{
        font-size: 2.5rem;
        word-spacing: 30px;
        height: 4.5rem;
        margin-bottom: 0;
    }
    .tools-projects{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1400px;
    }
    .tools{
        padding: 40px;
        margin: 10px;
        height: 400px;
    }
    .tools > h2{
        height: 2.7rem !important;
    }
    .tools img{
        width: 70px;
    }
    .col-left{
        justify-content: space-around;
    }
    .col-right{
        justify-content: space-around;
    }
    .projects{
        justify-content: space-evenly;
        height: 900px;
        padding: 25px;
        margin: 10px;
    }
    .projects h3{
        text-align: center;
        font-size: 1.8rem;
    }
    .html, .css, .javascript{
        align-content: center;
        justify-items: center;
        gap: 35px;
        width: 45rem;
    }
    .row > div{
        height: 8rem !important;
    }
    .row h5{
        font-size: 1.2rem !important;
    }
    .row a{
        font-size: 0.8rem !important;
    }
    .card-group{
        justify-content: center;
        width: 40rem;
    }
    .gradient{
        height: 50px;
    }
    #contact{
        height: 300px;
        justify-content: space-around;
        padding: 2rem;
    }
    #contact h3{
        margin: 0;
        font-size: 37px;
    }
    .social ul{
        gap: 7rem;
    }
    .social li{
        width: 10rem;
        height: 60px;
    }
    .info{
        margin-bottom: 1rem;
    }
    .info > a{
        font-size: 1rem !important;
        height: 1rem;
    }
}
@media only screen and ( min-width: 1025px) and (max-width: 1200px){
    nav{
        height: 90px;
    }
    a{
        font-size: 1.5rem;
    }
    #logo{
        align-self: center;
        align-items: center;
        width: 12rem;
    }
    #logo img{
        width: 12rem;
        padding: 0;
    }
    #aboutMe{
        display: flex;
        justify-content: space-around;
        align-content: center;
        height: 700px;
        padding: 10px;
    }
    .about-photo{
        align-self: center;
        width: 18rem;
        height: 30rem;
        margin: 23px;
    }
    .about-photo img{
        width: 15rem;
    }
    .about-text{
        width: 38rem;
        height: 25rem;
    }
    .about-text h1{
        font-size: 3rem;
    }
    .about-text p{
        font-size: 1.5rem;
    }
}
@media only screen and ( min-width: 1201px) and (max-width: 2560px){
    nav{
        height: 130px;
    }
    a{
        font-size: 2rem;
    }
    #logo{
        width: 25rem;
    }
    #logo img{
        width: 25rem;
    }
    .welcome{
        height: 800px;        
    }
    .welcome h1{
        font-size: 3rem;
        margin-top: 2rem;
        height: 150px;
    }
    .welcome h2{
        font-size: 2rem;
    }
    .welcome h3{
        font-size: 10rem;
    }
    .welcome h1 span{
        font-size: 10rem;    
    }
    #aboutMe{
        height: 1000px;
        padding: 30px;
    }
    .about-photo{
        align-self: center;
        width: 30rem;
        height: 40rem;
        margin: 20px;
    }
    .about-photo img{
        width: 20rem;
    }
    .about-text{
        width: 70rem;
        height: 30rem;
        margin: 20px;
        padding: 70px;
    }
    .about-text h1{
        text-align: center;
        font-size: 3.5rem;
    }
    .about-text p{
        font-size: 2rem;
    }
    #work{
        height: 3200px;
        padding: 50px 100px;
    }
    #work h2{
        height: 100px;
        font-size: 4rem;
        word-spacing: 30px;
    }
    .tools-projects{
        height: 3100px;
        justify-content: space-around;
    }
    .tools{
        padding: 4rem;
        margin: 4rem;
        height: 800px;
    }
    .tools img{
        width: 10rem;
    }
    .col-left{
    }
    .col-right{
        justify-content: space-evenly;
    }
    .projects{
        height: 1800px;
        margin: 30px;
    }
    .projects h3{
        font-size: 3rem;
    }
    .html, .css, .javascript{
        gap: 100px;
        width: 70rem;
    }
    .row > div{
        height: 13rem !important;
    }
    .row h5{
        font-size: 2.5rem !important;
    }
    .row a{
        font-size: 1.5rem;
    }
    .card-group{
        gap: 50px;
        width: 70rem;
    }
    #contact{
        height: 800px;
    }
    #contact h3{
        font-size: 5rem;
        margin: 0;
    }
    .social ul{
        gap: 7rem;
        padding: 0;
    }
    .social li{
        width: 20rem;
        height: 170px;
    }
    .social a{
        font-size: 2.5rem;
    }
    .social i{
        width: 3rem; 
    }
    .info > a{
        font-size: 2.5rem !important;
    }
}
@media only screen and ( min-width: 2561px){
    nav{
        height: 150px;
    }
    a{
        font-size: 3rem;
    }
    #logo{
        width: 25rem;
    }
    #logo img{
        width: 25rem;
        padding-left: 5rem;
    }
    .welcome{
        height: 1500px;
        padding: 50px;        
    }
    .welcome h1{
        font-size: 5rem;
        margin-top: 2rem;
        height: 310px;
    }
    .welcome h2{
        font-size: 3rem;
    }
    .welcome h3{
        font-size: 15rem;
    }
    .welcome h1 span{
        font-size: 20rem;
        height: 200px;    
    }
    #aboutMe{
        display: flex;
        justify-content: space-around;
        align-content: center;
        height: 1500px;
        padding: 10px;
    }
    .about-photo{
        align-self: center;
        width: 49rem;
        height: 80rem;
        margin: 23px;
    }
    .about-photo img{
        width: 40rem;
        border-radius: 10px;
    }
    .about-text{
        width: 90rem;
        height: 50rem;
        margin: 25px;
        padding: 70px;
    }
    .about-text h1{
        font-size: 8rem;
        font-family: "Marck Script", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .about-text p{
        font-size: 3.5rem;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    #work{
        height: 3250px;
        padding: 70px 100px;
    }
    #work h2{
        font-size: 6rem;
        word-spacing: 30px;
        height: 10rem;
        margin-bottom: 0;
    }
    .tools-projects{
        height: 3100px;
    }
    .tools{
        padding: 30px;
        margin: 10px;
        height: 1000px;
    }
    .tools > h2{
        height: 9rem !important;
    }
    .tools img{
        width: 15rem;
    }
    .col-left{
        justify-content: space-around;
    }
    .col-right{
        justify-content: space-around;
    }
    .projects{
        justify-content: space-evenly;
        height: 2000px;
        padding: 25px;
        margin: 10px;
    }
    .projects h3{
        text-align: center;
        font-size: 4rem;
    }
    .html, .css, .javascript{
        align-content: center;
        justify-items: center;
        gap: 35px;
        width: 130rem;
    }
    .row > div{
        height: 13rem !important;
    }
    .row h5{
        font-size: 2rem !important;
        margin-bottom: 3rem;
    }
    .row a{
        font-size: 1.7rem !important;
    }
    .card-group{
        justify-content: center;
        width: 100rem;
    }
    .gradient{
        height: 50px;
    }
    #contact{
        height: 700px;
        justify-content: space-around;
        padding: 2rem;
    }
    #contact h3{
        margin: 0;
        font-size: 5rem;
    }
    .social ul{
        gap: 10rem;
    }
    .social li{
        width: 20rem;
        height: 120px;
    }
    .social a{
        font-size: 2.5rem;
    }
    .info{
        margin-bottom: 1rem;
    }
    .info > a{
        font-size: 2.5rem !important;
        height: 1rem;
    }  
}